In [105]:

import requests
import pandas as pd
import numpy  as np
import pickle
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model    import ElasticNet
from sklearn.metrics         import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing   import MinMaxScaler

In [106]:
csv_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
df_raw = pd.read_csv( csv_url, sep=';' )

In [107]:
df1 = df_raw.copy()
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [79]:
# min max scaler
# x_new = ( x_old - min() ) / ( max - min )
mms = MinMaxScaler()

In [80]:
# free sulfur dioxide
df1['free sulfur dioxide'] = mms.fit_transform( df1[['free sulfur dioxide']].values )
#pickle.dump( mms, open( '/Users/meigarom/repos/SejaUmDataScientist/deploy/free_sulfur_scaler.pkl', 'wb' ))

# total sulfur dioxide
#df1['total sulfur dioxide'] = np.log1p( df1['total sulfur dioxide'] )
df1['total sulfur dioxide'] = mms.fit_transform( df1[['total sulfur dioxide']].values )
#pickle.dump( mms, open( '/Users/meigarom/repos/SejaUmDataScientist/deploy/total_sulfur_scaler.pkl', 'wb' ))

In [81]:
train, test = train_test_split( df1 ) #75% e 25% test

In [82]:
# train and test dataset
x_train = train.drop( 'quality', axis=1 )
y_train = train['quality']

x_test = test.drop( 'quality', axis=1 )
y_test = test['quality']

In [83]:
# model definition
model = ElasticNet( alpha=0.5, l1_ratio=0.5, random_state=42 )

In [84]:
# training
model.fit( x_train, y_train )

ElasticNet(alpha=0.5, random_state=42)

In [85]:
# prediction
pred = model.predict( x_test )

In [86]:
rmse = np.sqrt( mean_squared_error( y_test, pred ))
mae = mean_absolute_error( y_test, pred )
r2  = r2_score( y_test, pred )

In [87]:
print( 'RMSE: {}'.format( rmse ) )
print( 'MAE: {}'.format( mae ) )
print( 'R2: {}'.format( r2 ))

RMSE: 0.7940493126073821
MAE: 0.656783799146819
R2: 0.10106314392321625

In [88]:
# save trained model
#pickle.dump( model, open( '/Users/meigarom/repos/SejaUmDataScientist/deploy/model_wine_quality.pkl', 'wb' ) )

In [89]:
!ls deploy

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [108]:
df1[(df1['fixed acidity'] == 7.4) & (df1['alcohol'] == 9.4) & (df1['citric acid'] == 0.26)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
163,7.4,0.60,0.26,7.3,0.070,36.0,121.0,0.9982,3.37,0.49,9.4,5
221,7.4,0.53,0.26,2.0,0.101,16.0,72.0,0.9957,3.15,0.57,9.4,5

In [99]:
df1[(df1['fixed acidity'] == 7.4) & (df1['alcohol'] == 9.4) & (df1['citric acid'] == 0.26)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
163,7.4,0.60,0.26,7.3,0.070,0.492958,0.406360,0.9982,3.37,0.49,9.4,5
221,7.4,0.53,0.26,2.0,0.101,0.211268,0.233216,0.9957,3.15,0.57,9.4,5

In [96]:
x_test['quality'] = y_test
x_test['predictions'] = pred
x_test[(x_test['fixed acidity'] == 7.4) & (x_test['alcohol'] == 9.4) & (x_test['citric acid'] == 0.26)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,predictions
163,7.4,0.60,0.26,7.3,0.070,0.492958,0.406360,0.9982,3.37,0.49,9.4,5,5.549942
221,7.4,0.53,0.26,2.0,0.101,0.211268,0.233216,0.9957,3.15,0.57,9.4,5,5.549942

# deploy api

In [67]:
df = df_raw.drop( 'quality', axis=1 )

In [100]:
df[(df['fixed acidity'] == 7.4) & (df['alcohol'] == 9.4) & (df['citric acid'] == 0.26)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
163,7.4,0.60,0.26,7.3,0.070,36.0,121.0,0.9982,3.37,0.49,9.4
221,7.4,0.53,0.26,2.0,0.101,16.0,72.0,0.9957,3.15,0.57,9.4

In [101]:
df_json = df.to_json( orient='records' )

In [102]:
#url = 'http://0.0.0.0:5000/predict'
url = 'https://wine-quality-model.herokuapp.com/predict'
data = df_json
header = {'Content-type': 'application/json'}

# Request
r = requests.post( url=url, data=data, headers=header )
print( r.status_code )

200

In [104]:
x = pd.DataFrame( r.json(), columns=r.json()[0].keys() )
x[(x['fixed acidity'] == 7.4) & (x['alcohol'] == 9.4) & (df['citric acid'] == 0.26)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,prediction
163,7.4,0.60,0.26,7.3,0.070,0.492958,31.969663,0.9982,3.37,0.49,9.4,5.504911
221,7.4,0.53,0.26,2.0,0.101,0.211268,18.811665,0.9957,3.15,0.57,9.4,5.504911

# Class In Production

In [ ]:
import pickle 

class WineQuality( object ):
    def __init__( self ):
        self.free_sulfur_scaler = pickle.load( open( '/Users/meigarom/repos/SejaUmDataScientist/deploy/free_sulfur_scaler.pkl', 'rb'))
        self.total_sulfur_scaler = pickle.load( open( '/Users/meigarom/repos/SejaUmDataScientist/deploy/total_sulfur_scaler.pkl', 'rb'))
        
    
    def data_preparation( self, df ):
        # rescaling free sulfur
        df['free sulfur dioxide'] = self.free_sulfur_scaler.transform( df['free sulfur dioxide'] )
        
        # rescaling total sulfur
        df['total sulfur dioxide'] = self.total_sulfur_scaler.transform( df['total sulfur dioxide'] )
        
        return df

# handler

In [ ]:
import pandas as pd
import pickle
from flask import Flask, request

from wine_quality import WineQuality

# load model
model = pickle.load(open('/Users/meigarom/repos/SejaUmDataScientist/deploy/model_wine_quality.pkl', 'rb'))

# instanciate flask
app = Flask( __name__ )

@app.route( '/predict', methods=['POST'] )  
def predict():
    test_json = request.get_json()

    # collect data
    if test_json:
        if isinstance( test_json, dict ): # unique value
            df_raw = pd.DataFrame( test_json, index=[0] )
        else:
            df_raw = pd.DataFrame( test_json, columns=test_json[0].keys() )

    # instanciate data preparation
    pipeline = WineQuality()

    # data preparation
    df1 = pipeline.data_preparation( df_raw )

    # prediction
    pred = model.predict( df1 )

    # response 
    df_raw['prediction'] = pred

    return df_raw.to_json( orient='records' )

if __name__ == '__main__':
    # star flask 
    app.run( host='0.0.0.0', port='5000' )

In [ ]:
import pickle
import pandas as pd
from flask             import Flask, request, Response

from rossmann.Rossmann import Rossmann

# loading model
model = pickle.load(open('/Users/Igor/repos/Data-Science-Em-Producao/model/model_rossmann.pkl', 'rb'))

# initialize API
app = Flask(__name__)

@app.route('/rossmann/predict', methods = ['POST']) # endpoint, where the original data with the forecast will be sent
def rossmann_predict():
    test_json = request.get_json() # here pulls up the original csv files for both train and store
  
    if test_json: # there is data
          # json to dataframe conversion
        if isinstance(test_json, dict): # Unique example
            test_raw = pd.DataFrame(test_json, index =[0])
            
        else: # Multiple examples
            test_raw = pd.DataFrame(test_json, columns = test_json[0].keys())
            
        # instantiate Rossmann class # get the information from rossmann class
        pipeline = Rossmann()
        
        # data cleaning # model preparation 1
        df1 = pipeline.data_cleaning(test_raw)
        
        # feature engineering # model preparation 2 
        df2 = pipeline.feature_engineering(df1)
        
        # data preparation # model preparation 3
        df3 = pipeline.data_preparation(df2)
        
        # prediction
        df_response = pipeline.get_prediction(model, test_raw, df3)# test raw is the original data and df3 is the prepared data

       
        return df_response
    
    else:
        return Response('{}', status = 200, mimetype = 'application/json')
    
if __name__ == '__main__':
    app.run('127.0.0.1')